body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background: #222;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.navbar nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

section {
  padding: 60px 20px;
  text-align: center;
}

.project-card img {
  max-width: 100%;
  height: auto;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar nav {
    margin-top: 10px;
  }
}
.project-card {
  margin: 20px auto;
  padding: 20px;
  max-width: 400px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.resume-btn {
  padding: 10px 20px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

